/* Filterable Portfolio Grid
-------------------------------- */
 
.cpt-archive-description {
  margin-bottom: 50px;
}
 
.portfolio-content {
  margin-top: 12px;
  margin-left: -20px;
}
 
.altitude-pro-portfolio .entry {
  width: 250px;
  margin-bottom: 20px;
  margin-left: 20px;
  background: #333;
  position: relative;
}
 
.altitude-pro-portfolio .entry-header:after {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}
 
.portfolio-content .entry-content-wrap {
  padding: 30px 30px 0 30px;
}
 
.portfolio-content .entry img {
  display: block;
  left: 0;
  position: absolute;
  -webkit-transition:  all .2s linear;
  -moz-transition:  all .2s linear;
  -o-transition:  all .2s linear;
  transition:  all .2s linear;
}
 
.portfolio-content .entry img:hover {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
  filter: alpha(opacity=10);
  -moz-opacity: 0.1;
  -khtml-opacity: 0.1;
  opacity: 0.1;
}
 
.altitude-pro-portfolio .entry .entry-title {
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 10px;
}
 
.altitude-pro-portfolio .entry .entry-title a {
  color: #fff;
}
 
.altitude-pro-portfolio .entry p {
  color: #fff;
  font-size: 16px;
}
 
.prev-next-post-links {
  overflow: hidden;
}
 
.previous-post-link {
  float: left;
}
 
.next-post-link {
  float: right;
}
 
.portfolio-image-single {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 30px;
}
 
.taxonomy-title {
  margin-top: 30px;
  margin-bottom: 30px;
}
 
/*
Filterable Portfolio
------------------------ */
 
ul.filter {
  color: #999;
  list-style: none;
  margin-left: 0;
}
 
ul.filter li {
  float: left;
  margin-left: 8px;
  margin-bottom: 8px;
}
ul.filter li:first-child {
  margin-left: 0;
}
 
ul.filter a {
  background: #333;
  color: #fff;
  display: block;
  padding: 4px 10px;
  text-decoration: none;
  border-bottom: none;
  font-size: 16px;
  text-transform: uppercase;
}
 
ul.filter a:hover, ul.filter a.active {
  background: #22a1c4;
  color: #000;
}
 
.isotope-item {
  z-index: 2;
}
 
.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}
 
/**** Isotope CSS3 transitions ****/
 
.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
   -moz-transition-duration: 0.8s;
    -ms-transition-duration: 0.8s;
     -o-transition-duration: 0.8s;
      transition-duration: 0.8s;
}
 
.isotope {
  -webkit-transition-property: height, width;
   -moz-transition-property: height, width;
    -ms-transition-property: height, width;
     -o-transition-property: height, width;
      transition-property: height, width;
}
 
.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
   -moz-transition-property:    -moz-transform, opacity;
    -ms-transition-property:     -ms-transform, opacity;
     -o-transition-property:      -o-transform, opacity;
      transition-property:         transform, opacity;
}
 
/**** disabling Isotope CSS3 transitions ****/
 
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
   -moz-transition-duration: 0s;
    -ms-transition-duration: 0s;
     -o-transition-duration: 0s;
      transition-duration: 0s;
}
 
@media only screen and (max-width: 1280px) {
 
  .altitude-pro-portfolio .entry {
    /*width: 46%;*/
  }
 
}
 
@media only screen and (max-width: 528px) {
 
  .altitude-pro-portfolio .entry {
    /*width: 100%;*/
  }
 
}

.portfolio header p .entry-time {
	display: none;
}

.portfolio .entry-meta {
	display: none;
}

.archive-title {
	font-size: 48px;
	text-align: center;
}