#front-page-5 {
  padding-top: 100px !important;
  padding-bottom: 100px !important;
}

#front-page-5 > .wrap {
  margin: 0 auto;
  max-width: 74%;
}

#front-page-5 .portfolio-title {
  text-align: center;
  color: white;
}

.widget ol {
  display: inline-block;
}

@media screen and (min-width: 768px) {
  .widget ol {
    margin-left: 2em;
  }
}

.widget ol > li {
  text-align: left;
}

.portfolio-item {
  height: 156px;
}

#front-page-2 .widget{
  background-color: transparent !important;
}

.round-framed img {
  border-radius: 50%;
  border: 2px solid white;
  max-width: 200px;
}

.big-title h2 {
  font-size: 80px !important;
  font-weight: 200 !important;
  line-height: 1 !important;
}

@media only screen and (max-width: 1023px) {
  .big-title h2 {
    font-size: 60px !important;
  }
}

@media only screen and (max-width: 480px) {
  .big-title h2 {
    font-size: 40px !important;
  }
}

.nav-primary .menu-item a:focus {
  outline: none;
}

.widget ul li {
  margin-bottom: 0;
}

@media screen and (max-width: 800px) {
	.site-title{
		font-size: 20px
	}
	#non-profit {
		margin-left: .5em;
		margin-right: .5em;
	}
	#portfolio-cats{
		margin-left: 1em;
	}
	#ready-list{
		margin-left: 1em;
		margin-right: 1em;
	}
}